body {
    background-color: #333;
    color: #fff;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    padding: 5px;
    border-radius: 0;
    background-color: #444;
    width: 100%;
    box-sizing: border-box;
}

.recipe-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5px 0;
}

.btn {
    background-color: #575757;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.btn:hover {
    background-color: #7a7a7a;
}

.recipe-content {
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    min-height: 150px;
}

.btn-share {
    background-color: #4CAF50; /* Green background for visibility */
    color: white;
    border: none;
    padding: 8px 16px;
    margin-top: 10px; /* Space from the content */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-share:hover {
    background-color: #45a049;
}

@media (max-width: 600px) {
    .btn {
        flex: 1 1 46%;
        text-align: center;
        padding: 8px;
        margin: 2px;
    }

    .recipe-buttons {
        justify-content: space-between;
    }

    .form-input {
        width: calc(100% - 10px);
        margin: 5px;
        padding: 8px;
    }
}
